
 <section>
    <h2>Your Workouts</h2> 
    {{#if workout.length}}
    <ul>
        {{#each workout as |workout|}}
    <li>
        {{workout.workout_type}}
            <ul>
            {{#each cardios as |cardios|}}
                <li>
                {{cardios.cardio_type}}
                </li>
                {{cardios.intensity}}
                {{cardios.duration}}
                <li>
                {{cardios.distance}}
                </li>
            {{/each}}
            </ul>
    </li>
    {{/each}}
    </ul>
</section>
{{/if}}
