
 <section>
    <h2>Your Workouts</h2> 
    {{#if workout.length}}
    <ol>
        {{#each workout as |workout|}}
    <li>
        {{workout.workout_type}}
        {{reps}}
        {{weights.intensity}}
        {{weights.duration}}

        {{cardio.intensity}}
        {{cardio.duration}}
        {{cardio.distance}}
        
    </li>
    {{/each}}
    </ol>
</section>
{{/if}}
